# Dependencies
node_modules/

# Next.js
.next/
out/
.next-static/
.vercel/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
logs/
*.log

# OS / Editor
.DS_Store
Thumbs.db
.idea/
.vscode/
*.swp
*.swo

# TypeScript
*.tsbuildinfo

# Env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Build output
coverage/
.dist/

# Misc
*.pid
*.seed
*.pid.lock
